# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Pytest / test artifacts
.pytest_cache/
.coverage

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/

# Logs / temp
*.log
.deepeval/